<%= render 'layouts/search' %>
<div class="page-header">
  <h1><%= link_to @blog.name, "http://#{@blog.name}", target: "_blank" %>
    <small class='text-uppercase'><%= @blog.post_types.join " : " %><% unless @blog.reblogs %> : NO REBLOGS<% end %></small>
  </h1>
</div>

<% if @blog.posts.present? %>
  <table class="table">
  <caption>TOP 30</caption>
    <tr>
      <th class="col-xs-1">Rank</th>
      <th class="col-xs-1">Notes</th>
      <th class="col-xs-8">Post</th>
      <th class="col-xs-1">Type</th>
      <th class="col-xs-1">Date</th>
    </tr>

    <%= render partial: 'layouts/blog', object: @blog.posts %>
    
  </table>
<% end %>