<script>
$(document).ready(function(){
  //open options panel for this page
  $("#options-button").click();
})

</script>

<div class="page-header">
  <h2 class="center">Find your most popular <a href="https://www.tumblr.com/" target="_blank"><%= image_tag("tumblr_logotype_blue_transparent_128.png", alt: "Tumblr logo") %></a> posts</br>
  <small>Enter the name or URL of a Tumblr blog to retrieve its top posts</small>
  </h2>
</div>

<%= render 'layouts/search' %>