<script>
$(document).ready(function(){
	//open options panel for this page
	$("#options-button").click();
})

</script>

<div class="page-header">
	<h2 class="center">Find your most popular Tumblr posts</br>
		<small>Enter the name or URL of a Tumblr blog to retrieve its top posts</small>
	</h2>
</div>

<%= render 'layouts/search' %>
		

