@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align:center;
}

#url-question{
	margin-right:10px;
}

/* Footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 125px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}