@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align:center;
}

h2{
	margin-bottom:20px;
	}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.table{
	margin-top: 20px;
}