@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align:center;
}

h2{
	margin-bottom:20px;
	}

input{
	border-radius: 5px;
	margin-bottom: 15px;
	margin-right: 15px;
}


.table{
	margin-top: 20px;
}

input[type="radio"]{
	margin-right:20px;
}

button{
	margin-top:5px;
	margin-bottom:40px;
}