@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align:center;
}

h2{
	margin-bottom:20px;
	}


.table{
	margin-top: 20px;
}

button{
	margin-top:5px;
	margin-bottom:40px;
}

#url-question{
	margin-right:10px;
}

#search-button{
	margin-bottom:20px;
}